

html {
    background-color: lightslategray;
}

h1 {
    color: black;
    font-family: Arial;
    text-align: center;
    text-decoration: underline;

}

img {
    text-align: right;
}

